/* below deleted */
/* @media only screen and (max-width: 600px) {
  #result {
    width: 300px;
  }
}
@media only screen and (min-width: 601px) {
  #result {
    width: 400px;
  }
}
@media only screen and (min-width: 701px) {
  #result {
    width: 500px;
  }
}
@media only screen and (min-width: 921px) {
  #result {
    width: 600px;
  }
}
@media only screen and (min-width: 1451px) {
  #result {
    width: 100%;
  }
} */
